{% extends 'twitter/layout.html' %}
{% load custom_filters %}
{% block content %}

<div id="main" class="container-fluid d-flex mt-4">
    <div class="login-page mt-5 mb-5 pt-4 pl-4" style="border-radius: 20px;">
        <div id="inputTweetArea" class="tweet-wrap2">
            <div class="d-flex">
                <div class="col-xs">
                    <!-- Image form -->
                    <img src="{{ request.user.profile.image.url }}" alt="" class="avatar rounded-circle">
                    <!-- Formulario -->
                </div>

                <!-- Formulario -->
                <form class="col pt-1 pr-4 pb-4" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <label for="first_name">Nome</label>
                        <input type="text" id="first_name" name="first_name" autocomplete="given-name" placeholder="Primeiro Nome" value="{{ user_form.first_name.value }}">
                    </div>
                    <div class="input-wrapper">
                        <label for="username">Nome de Usuário</label>
                        <input type="text" id="username" name="username" autocomplete="given-name" placeholder="Nome de Usuário" value="{{ user_form.username.value }}">
                    </div>
                    <div class="input-wrapper">
                        {{ profile_form.bio | add_placeholder:"Biografia" }}
                    </div>
                    <div class="input-wrapper">
                        {{ profile_form.image }}
                    </div>

                    <button class="twitter-btn">Atualizar</button>
                </form>
                <!-- Formulario -->

            </div>
        </div>
    </div>
    <!-- End Center -->
</div>

{% endblock content %}