{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Iniciar Sessão</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <!-- <label for="user-name-id">Nome de Usuário</label> -->
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <!-- <label for="password-id">Password</label> -->
                {{ form.password }}
            </div>

            <button class="twitter-btn">Conecte-se</button>
        </form>

        <div class="footer">
            <a href="#">Esqueceu a senha</a> .
            <a href="#">Inscreva-se no Twitter</a>
        </div>

    </div>
    {% endblock content %}