{% extends 'twitter/layout.html' %}
{% load custom_filters %}
{% block content %}

<body class="login-page m-3">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Inscreva-se no Twitter</h1>
        </header>

        <form method="post">
            {% csrf_token %}

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% if form.errors %}
            {% endif %}
            <div class="input-wrapper">
                {{ form.first_name }}
            </div>
            <div class="input-wrapper">
                {{ form.username }}
            </div>
            <div class="input-wrapper">
                {{ form.email }}
            </div>
            <div class="input-wrapper">
                {{ form.password1 }}
            </div>
            <div class="input-wrapper">
                {{ form.password2 }}
            </div>

            <button class="twitter-btn" type="submit">Registra-se</button>
        </form>

        <div class="footer">
            <a href="{% url 'login' %}">Você já tem uma conta? Conecte-se</a>
        </div>

    </div>

    {% endblock content %}