{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Inscreva-se no Twitter</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <input type="text" id="first_name" name="first_name" autocomplete="given-name" placeholder="Primeiro Nome" value="{{ user_form.first_name.value }}">
            </div>
            <div class="input-wrapper">
                <input type="text" id="username" name="username" autocomplete="given-name" placeholder="Nome de Usuário" value="{{ user_form.username.value }}">
            </div>
            <div class="input-wrapper">
                <input type="text" id="email" name="email" autocomplete="given-name" placeholder="Email" value="{{ user_form.email.value }}">
            </div>

            <div class="input-wrapper">
                {{ form.password1 }}
            </div>
            <div class="input-wrapper">
                {{ form.password2 }}
            </div>

            <button class="twitter-btn">Registra-se</button>
        </form>

        <div class="footer">
            <a href="#">Você já tem uma conta? Conecte-se</a>
        </div>

    </div>

    {% endblock content %}