/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

body {
  background-color: #e0245e;
  color: #fff;
}

#loginbox {
  margin-top: 30px;
}

#loginbox > div:first-child {
  padding-bottom: 10px;
}

.iconmelon {
  display: block;
  margin: auto;
}

#form > div {
  margin-bottom: 25px;
}

#form > div:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel {
  background-color: transparent;
}

.panel-body {
  padding-top: 30px;
  background-color: #e0245e;
  border: 2px solid #fff;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #e0245e;
}

.iconmelon:after,
.im:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about {
  color: #fff;
  background-color: #e0245e;
}

#signUpHeader {
  background-color: #e0245e;
}

.input-group-addon {
  background-color: #e0245e;
  border-color: #e0245e;
}

.input-group-addon:first-child,
.fa-twitter,
h2 {
  color: #fff;
}

.form-control {
  border-color: #e0245e;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

#signUpBtn {
  color: #e0245e;
  font-weight: bold;
  background-color: #fff;
}

#about-content {
  margin-top: 25px;
  font-weight: bold;
}
